<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/foundation.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" href="/stylesheets/plot.css">
  </head>
  <body>
    <script src="https://d3js.org/d3.v3.min.js"></script>

    <% include ../partials/header.ejs %>
    <%- body -%>
    <% include ../partials/footer.ejs %>

    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/what-input.js"></script>
    <script src="/javascripts/foundation.js"></script>

    <script src="/javascripts/app.js"></script>
  </body>
</html>